* {
  box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
}

#root {
  width: 95%;
  margin: 0 auto;
}

main {
  margin-top: 1rem;
}

.wrapper {
  width: 50%;
  margin: 7em auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .input-group {
    width: 60%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .ui-inputgroup .ui-inputtext {
    width: 100%;
  }

  .ui-password {
    width: 100%;
    padding-left: 0;

    input {
      width: 100%;
    }
  }

  .account {
    margin-top: 0.5rem;
    font-size: 12px;
    text-align: center;
    width: 60%;
    padding-right: 0.2rem;

    a {
      font-size: inherit;
    }
  }

  .ui-button {
    width: 60%;
  }
}

.hotel {
  .hotel-name {
    font-size: 1rem;
    font-weight: 700;
  }
  .hotel-description {
    margin: 0 0 1rem 0;
  }

  .hotel-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;

    img {
      width: 150px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }

    .hotel-list-detail {
      flex: 1 1 0;
      text-align: left;
    }

    .hotel-list-action {
      display: flex;
    }
  }
}

/* Primefaces reboot */
body {
  .ui-dataview {
    .ui-dataview-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
    }
    .ui-dataview-content {
      text-align: center;
      padding-top: 1rem;
    }
  }
  .ui-inputgroup input:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
  }
}

.ui-dataview .ui-dataview-header .ui-dataview-layout-options {
  display: none;
}
