* {
  box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
}

#root {
  width: 95%;
  margin: 0 auto;
}

main {
  margin-top: 1rem;
}

.wrapper {
  width: 50%;
  margin: 7em auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .input-group {
  width: 60%;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.wrapper .ui-inputgroup .ui-inputtext {
  width: 100%;
}
.wrapper .ui-password {
  width: 100%;
  padding-left: 0;
}
.wrapper .ui-password input {
  width: 100%;
}
.wrapper .account {
  margin-top: 0.5rem;
  font-size: 12px;
  text-align: center;
  width: 60%;
  padding-right: 0.2rem;
}
.wrapper .account a {
  font-size: inherit;
}
.wrapper .ui-button {
  width: 60%;
}

.hotel .name {
  font-size: 1rem;
  font-weight: 700;
}
.hotel .description {
  margin: 0 0 1rem 0;
}
.hotel .price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}
.hotel .list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.hotel .list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}
.hotel .list-item .list-detail {
  flex: 1 1 0;
  text-align: left;
}
.hotel .list-item .list-action {
  display: flex;
  flex-direction: column;
}

/* Primefaces reboot */
body .ui-dataview .ui-dataview-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
body .ui-dataview .ui-dataview-content {
  text-align: center;
  padding-top: 1rem;
}
body .ui-inputgroup input:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
}

.ui-dataview .ui-dataview-header .ui-dataview-layout-options {
  display: none;
}